@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

/* General CSS */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/images/wallpaper.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Raleway", sans-serif;
}

.scrollBtn {
  position: fixed;
  bottom: 16px;
  right: 10px;
  z-index: 99;
  font-size: 3.5rem;
  border: none;
  outline: none;
  color: #00602f;
  border-radius: 30px;
  background-color: transparent;
  transition: color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button.hidden {
  opacity: 0;
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingSpinner {
  color: #00602f;
  animation-duration: 2s;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner-image {
  width: 400px;
  height: 400px;
  margin: 3rem;
}

/* Navbar */

#navBar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-family: "Italiana", sans-serif;
}

#navBar,
.navbarOffcanvas {
  background-color: #d4dbaf;
}

#navbarLogo {
  margin-inline: 5px;
}

.navbarBrand {
  font-size: 1.5rem;
  padding: 0;
}

.navLink {
  font-family: "Italiana", serif;
  text-decoration: none;
  font-weight: bold;
  color: #00602f;
  transition: color 0.5s ease;
}

.navLink:hover {
  color: #fefefe;
}

.navLinks {
  font-size: 1.2rem;
}

.dropdownMenu {
  left: auto !important;
  right: 0;
  transform: translateX(0%);
  position: absolute;
}

.dropdownItem {
  font-weight: bold;
  color: #00602f;
}

.accountIcon {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.icon-hover-container .icon-hover {
  color: #00602f;
  transition: color 0.5s ease;
}

.icon-hover-container:hover .icon-hover,
.icon-hover-container:focus .icon-hover,
.icon-hover-container .dropdownMenu .dropdown-item:hover .icon-hover,
.icon-hover-container .dropdownMenu .dropdown-item:focus .icon-hover {
  color: #fefefe !important;
}

#dropdown-basic::after {
  display: none !important;
}

.appTitle {
  font-weight: bold;
}

.plantBasedSpan {
  color: #00602f;
}

.titleOffCanvas {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #fefefe;
}

.subtitleOffCanvas {
  font-family: "Forum", serif;
  font-size: 1.2rem;
}

/* Footer */

#footer {
  background-color: #d4dbaf;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.footerTitle,
.footerUnderTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.footerTitle {
  color: #00602f;
}

.footerUnderTitle {
  color: #fefefe;
}

.footerLinks,
.copyright {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.footerLinks:hover {
  color: #fefefe;
  text-decoration: underline;
  cursor: pointer;
}

.footerIcon {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #00602f;
  cursor: pointer;
}

.hr {
  color: #fefefe;
}

.footerSubtitle {
  font-family: "Forum", serif;
  margin-top: 0.2em;
  margin-left: 0.4rem;
}

/* Not Found Page */

.notFoundTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
  font-size: 1.5rem;
}

.notFoundBody,
.homeBtn,
.submitBtn,
.modalBtn {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.homeBtn,
.submitBtn,
.modalBtn,
.registerLoginBtns {
  border: none;
  background-color: #00602f;
  color: #fefefe;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.homeBtn:hover,
.submitBtn:hover,
.modalBtn:hover,
.registerLoginBtns:hover {
  cursor: pointer;
  background-color: #fefefe;
  color: #00602f;
  border: 1px solid #00602f;
}

/* Homepage */

.slideImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.homeTitle,
.homeSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.homeSubtitle {
  color: #00602f;
}

.greenHr {
  color: #00602f;
  height: 10px;
}

.newsletterTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  margin-top: 1.5rem;
}

.newsletterBody {
  margin-top: 1rem;
  max-width: 550px;
  margin-right: 2rem;
}

.newsletterForm {
  margin-top: -0.5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.custom-checkbox .form-check-input {
  margin-top: 0.1rem;
}

.custom-checkbox .form-check-label {
  font-family: "Raleway", sans-serif !important;
  margin-left: 0.5rem !important;
}

.custom-checkbox {
  font-family: "Raleway", sans-serif !important;
  font-size: 0.8rem !important;
}

.floating-label {
  font-family: "Raleway", sans-serif;
}

.modalHeader {
  font-family: "Italiana", serif;
}

.modalTitle {
  font-weight: bold;
  margin-left: 0.6rem;
}

.modalBodyContainer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.modalSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.modalIcon {
  margin-right: 0.5rem;
  color: #00602f;
}

.formData {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.checkbox {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: start;
}

/* Recipes Page */

.recipeTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.recipeSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.registerLoginBtns {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-inline: 1rem;
}

.pageWallpaper {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

/* About Page */

.aboutTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.thankYouSpan {
  font-family: "Italiana", sans-serif;
  font-size: 1.5rem;
}

/* Register Page */

.registerContainer {
  margin: 5rem;
}

/* Mobile */

@media (max-width: 425px) {
  #navbarLogo {
    margin: 0;
  }
  .title {
    display: none;
  }

  .footerSubtitle {
    margin-left: 0;
  }
  .getInspired {
    margin-inline: 3rem;
  }

  .newsletterForm {
    margin-top: 0;
  }

  .newsletterBody {
    margin-right: 0;
  }
  .recipeBody {
    padding-inline: 0;
  }

  .btnContainer {
    flex-direction: column;
  }

  .registerLoginBtns {
    margin-inline: 1rem;
  }

  .about {
    margin-inline: 1rem;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .registerLoginBtns {
    margin-inline: 1rem;
  }
}
