@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");

/* General CSS */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./assets/images/wallpaper.png");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Raleway", sans-serif;
}

.scrollBtn {
  position: fixed;
  bottom: 16px;
  right: 10px;
  z-index: 99;
  font-size: 3.5rem;
  border: none;
  outline: none;
  color: #00602f;
  border-radius: 30px;
  background-color: transparent;
  transition: color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.scroll-to-top-button.visible {
  opacity: 1;
}

.scroll-to-top-button.hidden {
  opacity: 0;
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.loadingSpinner {
  color: #00602f;
  animation-duration: 2s;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.spinner-image {
  width: 400px;
  height: 400px;
  margin: 3rem;
}

/* Navbar */

#navBar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-family: "Italiana", sans-serif;
}

#navBar,
.navbarOffcanvas {
  background-color: #d4dbaf;
}

#navbarLogo {
  margin-inline: 5px;
}

.navbarBrand {
  font-size: 1.5rem;
  padding: 0;
}

.navLink {
  font-family: "Italiana", serif;
  text-decoration: none;
  font-weight: bold;
  color: #00602f;
  transition: color 0.5s ease;
}

.navLink:hover {
  color: #fefefe;
}

.navLinks {
  font-size: 1.2rem;
}

.dropdownMenu {
  left: auto !important;
  right: 0;
  transform: translateX(0%);
  position: absolute;
}

.dropdownItem {
  font-weight: bold;
  color: #00602f;
}

.dropdownItem:hover {
  background-color: #cfd5b2;
}

.accountIcon {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
}

.icon-hover-container .icon-hover {
  color: #00602f;
  transition: color 0.5s ease;
}

.icon-hover-container:hover .icon-hover,
.icon-hover-container:focus .icon-hover,
.icon-hover-container .dropdownMenu .dropdown-item:hover .icon-hover,
.icon-hover-container .dropdownMenu .dropdown-item:focus .icon-hover {
  color: #fefefe !important;
}

#dropdown-basic::after {
  display: none !important;
}

.userNameItem {
  font-family: "Italiana", serif;
  color: #00602f !important;
  pointer-events: none;
  background-color: transparent;
}

.appTitle {
  font-weight: bold;
}

.plantBasedSpan {
  color: #00602f;
}

.titleOffCanvas {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #fefefe;
}

.subtitleOffCanvas {
  font-family: "Forum", serif;
  font-size: 1.2rem;
}

/* Footer */

#footer {
  background-color: #d4dbaf;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.footerTitle,
.footerUnderTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.footerTitle {
  color: #00602f;
}

.footerUnderTitle {
  color: #fefefe;
}

.footerLinks,
.copyright {
  font-family: "Raleway", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  transition: all 0.5s ease;
}

.footerLinks:hover {
  color: #fefefe;
  text-decoration: underline;
  cursor: pointer;
}

.footerIcon {
  font-size: 1.3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: color 0.3s ease;
}

.footerIcon:hover {
  color: #00602f;
  cursor: pointer;
}

.hr {
  color: #fefefe;
}

.footerSubtitle {
  font-family: "Forum", serif;
  margin-top: 0.2em;
  margin-left: 0.4rem;
}

/* Not Found Page */

.notFoundTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
  font-size: 1.5rem;
}

.notFoundBody,
.homeBtn,
.submitBtn,
.modalBtn,
.viewRecipeBtn,
.filtersBtn,
.pdfBtn,
.commentBtn,
.ingredientBtn,
.searchRecipesBtn {
  font-family: "Raleway", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

.homeBtn,
.submitBtn,
.modalBtn,
.registerLoginBtns,
.viewRecipeBtn,
.filtersBtn,
.pdfBtn,
.commentBtn,
.ingredientBtn,
.searchRecipesBtn {
  border: none;
  background-color: #00602f;
  color: #fefefe;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 5px;
  transition: all 0.5s ease;
}

.homeBtn:hover,
.submitBtn:hover,
.modalBtn:hover,
.registerLoginBtns:hover,
.viewRecipeBtn:hover,
.filtersBtn:hover,
.pdfBtn:hover,
.commentBtn:hover,
.ingredientBtn:hover,
.searchRecipesBtn:hover {
  cursor: pointer;
  background-color: #fefefe;
  color: #00602f;
  border: 1px solid #00602f;
}

/* Homepage */

.slideImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.homeTitle,
.homeSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.homeSubtitle {
  color: #00602f;
}

.greenHr {
  color: #00602f;
  height: 10px;
}

.newsletterTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  margin-top: 1.5rem;
}

.newsletterBody {
  margin-top: 1rem;
  max-width: 550px;
  margin-right: 2rem;
}

.newsletterForm {
  margin-top: -0.5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.custom-checkbox .form-check-input {
  margin-top: 0.1rem;
}

.custom-checkbox .form-check-label {
  font-family: "Raleway", sans-serif !important;
  margin-left: 0.5rem !important;
}

.custom-checkbox {
  font-family: "Raleway", sans-serif !important;
  font-size: 0.8rem !important;
}

.floating-label {
  font-family: "Raleway", sans-serif;
}

.modalHeader {
  font-family: "Italiana", serif;
}

.modalTitle {
  font-weight: bold;
  margin-left: 0.6rem;
}

.modalBodyContainer {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.modalSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.modalIcon {
  margin-right: 0.5rem;
  color: #00602f;
}

.formData {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.checkbox {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-align: start;
}

/* Recipes Page */

.recipeTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.recipeSubtitle {
  font-family: "Italiana", serif;
  font-weight: bold;
}

.registerLoginBtns {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-inline: 1rem;
}

.pageWallpaper {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.recipeCardImg {
  object-fit: cover;
}

.favouritesBtn {
  color: #5e2121;
  font-size: 2rem;
}

.recipeCard {
  border: 1px solid #d4dbaf;
  height: 650px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.recipeCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.text-truncate-custom {
  overflow: hidden;
  text-overflow: ellipsis;
}

.readMore {
  font-size: 0.8rem;
  max-width: 170px;
  padding-inline: 1rem;
  padding-block: 1rem;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  border: none;
  background-color: #d4dbaf !important;
  padding-block: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipeFilter {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputContainer {
  text-align: center;
  margin-bottom: 2rem;
}

.searchInput {
  max-width: 600px;
  margin: 0 auto;
}

.inputBar {
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  flex: 1;
}

.searchBtn,
.addBtn {
  background-color: #00602f;
  border: none;
  margin-left: 0.5rem;
  color: #fefefe;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

.ingredientBadge {
  cursor: pointer;
  background-color: #6c757d;
  color: #fefefe;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.ingredientBadge:hover {
  background-color: #343a40;
}

.searchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.range-input {
  margin-bottom: 1rem;
  color: #00602f !important;
}

/* Webkit Browsers (Chrome, Safari, etc.) */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #00602f;
  cursor: pointer;
  border-radius: 50%;
}

/* Firefox */

input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #00602f;
  cursor: pointer;
  border-radius: 50%;
}

/* IE */

input[type="range"]::-ms-thumb {
  width: 15px;
  height: 15px;
  background: #00602f;
  cursor: pointer;
  border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #cfd5b2;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #cfd5b2;
  border-radius: 5px;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #cfd5b2;
  border-radius: 5px;
  border-color: transparent;
  color: transparent;
}

.offcanvas-header {
  background-color: #d4dbaf;
}

.offcanvas-title {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.offcanvas-body {
  padding: 2rem;
}

.recipeFilterLabel {
  font-size: 12rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #00602f;
  font-family: "Italiana", serif;
  text-align: center;
}

.inputIcon {
  color: #00602f;
  font-size: 1.3rem;
}

.inputBtn {
  border: none;
  background-color: transparent;
}

.filtersBtn {
  margin-top: -1rem;
}

.ingredientBadge {
  font-size: 0.9rem !important;
  font-family: "Raleway", sans-serif;
  background-color: #d4dbaf !important;
  color: #000000 !important;
}

.filterLabel {
  font-family: "Raleway", sans-serif;
}

/* About Page */

.aboutTitle {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.thankYouSpan {
  font-family: "Italiana", sans-serif;
  font-size: 1.5rem;
}

/* Register Page */

.registerContainer {
  margin-bottom: 3rem;
}

.passwordBtn {
  border: none;
  background-color: transparent;
}

.custom-input-height {
  height: 55px;
}

.custom-floating-label {
  transition: all 0.2s ease-in-out;
}

/* Login Page */

.formLink {
  color: #00602f;
  transition: color 0.5s ease;
}

.formLink:hover {
  color: #d4dbaf;
}

.checkbox .form-check {
  margin-left: 0;
}

.errorAlert {
  font-family: "Raleway", sans-serif;
}

.errorIcon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

/* Profile Page */

.userProfileContainer {
  padding: 0;
}

.coverImageContainer {
  position: relative;
}

.coverImage {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.profileImageContainer {
  position: absolute;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
}

.profileImage {
  width: 180px;
  height: 180px;
  border: 8px solid #fefefe;
  object-fit: cover;
}

.profileImageContainer:hover .profileImageOverlay {
  opacity: 1;
}

.profileImageOverlay {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #d4dbaf;
  color: #fefefe;
  cursor: pointer;
  opacity: 0;
  padding: 0.5rem;
  width: 100px;
  transition: opacity 0.3s ease;
}

.photoIcon,
.trashIcon {
  font-size: 1.5rem;
  transition: all 0.5s ease;
  background-color: transparent;
}

.photoIcon:hover,
.trashIcon:hover {
  color: #00602f;
  cursor: pointer;
}

.trashIcon {
  margin-right: -0.3rem;
}

.deleteAvatarBtn {
  background-color: transparent;
  border: none;
  color: #fefefe;
  cursor: pointer;
  margin-left: 10px;
}

.deleteAvatarBtn:hover {
  color: #00602f;
}

.userName {
  text-align: center;
  padding-top: 5rem;
  margin-top: 1.5rem;
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #000000;
}

.card {
  margin-top: 20px;
}

.card-title {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
}

.card-text {
  font-family: "Raleway", sans-serif;
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordToggleIcon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #00602f;
}

.profileLabel {
  font-family: "Raleway", sans-serif;
  color: #00602f;
}

.profileInput {
  font-family: "Raleway", sans-serif;
}

/* Favourites Page */

.favTable {
  width: 100%;
  font-family: "Raleway", sans-serif;
  overflow-x: auto;
  margin-block: 3rem;
}

.favTable th,
.favTable td {
  padding: 10px;
  text-align: center;
}

.favTable th {
  background-color: #d4dbaf !important;
  color: #00602f;
  font-family: "Italiana", serif;
  height: 70px;
  vertical-align: middle;
  font-size: 1.3rem;

  border: none;
}

.favTable td a {
  color: #00602f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.favTable td a:hover {
  color: #004c1f;
}

.favTable img {
  max-width: 90px;
  max-height: 90px;
  object-fit: cover;
  border: 1px solid #004c1f;
}

.tableRow {
  vertical-align: middle;
}

.deleteBtn {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  color: #600000;
  transition: transform 0.3s ease;
}

.deleteBtn:hover {
  transform: scale(1.3);
  background-color: transparent !important;
  color: #600000;
}

.text-secondary {
  color: #bcbec4;
}

.text-danger {
  color: rgb(163, 0, 0);
}

.recipesLink {
  text-decoration: none;
  color: #fefefe;
}

.favorite-icon {
  cursor: pointer;
  margin-left: 10px;
}

.favorite-icon-overlay {
  right: 10px;
}

.recipeImg {
  transition: all 0.5s ease;
}

.recipeImg:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.tooltip {
  background-color: #d4dbaf !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: bold;
}

.recipeName {
  color: #00602f !important;
}

/* Single Recipe Page */

.recipePic {
  width: 500px;
  height: 700px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #d4dbaf;
}

.recipeCategory {
  background-color: #d4dbaf !important;
  font-size: 0.9rem;
}

.recipeIcon {
  font-size: 1.5rem;
  color: #00602f;
}

.instructionsList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  list-style-position: initial;
}

.ingredientList {
  font-family: "Raleway", sans-serif;
  padding-left: 0;
  margin-left: 1rem;
  list-style-position: outside;
}

.recipeSub {
  font-family: "Italiana", serif;
  color: #00602f;
  font-weight: bold;
  font-size: 1.2rem;
}

.pdfIcon {
  color: #fefefe;
  font-size: 1.3rem;
  margin-right: 0.5rem;
  transition: color 0.5s ease;
}

.pdfBtn:hover .pdfIcon {
  color: #00602f;
}

.commentsContainer {
  background-color: #efebe0;
  padding-inline: 2rem;
}

.commentForm,
.commentsList {
  font-family: "Raleway", sans-serif;
}

.no-indent {
  list-style-type: none;
  padding-left: 0;
}

.no-indent li {
  margin-bottom: 10px;
}

.commentItem {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.commentAvatar {
  margin-right: 10px;
}

.commentContent {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.commentsList {
  list-style: none;
  padding-left: 0;
}

.commentsContainer,
.commentTitle,
.commentForm,
.commentBtn {
  padding-left: 20px;
}

.commentsContainer {
  border-radius: 10px;
}

.commentBtn,
.noComment,
.addRating {
  margin-left: 20px;
}

.rating {
  display: flex;
}

.rating .fa-star {
  cursor: pointer;
  transition: color 0.2s;
}

.rating .fa-star:hover {
  color: #ffc107;
}

/* Modal Shopping List */

.modalHeader {
  background-color: #d4dbaf;
}

.modalTitle {
  font-family: "Italiana", serif;
  color: #00602f;
}

.ingredients {
  font-family: "Raleway", sans-serif;
}

/* Ingredients Page */

.filterIngredients {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.ingredientCategory {
  background-color: #d4dbaf !important;
  font-size: 0.7rem;
}

.ingredientCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4dbaf;
  height: 100%;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.ingredientCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.ingredientCard .card-body {
  flex-grow: 1;
}

.ingredientCard .card-text.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
}

.ingredientCard .ingredientTitle {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.ingredientCard .ingredientCategory {
  background-color: #6c757d;
  color: #fefefe;
}

/* Ingredient Modal */

.ingredientName {
  font-family: "Italiana", serif;
  font-weight: bold;
  color: #00602f;
  font-size: 1.8rem;
}

.ingredientTable {
  font-family: "Raleway", sans-serif;
}

.key {
  color: #00602f !important;
}

/* Mobile */

@media (max-width: 425px) {
  #navbarLogo {
    margin: 0;
  }
  .title {
    display: none;
  }

  .footerSubtitle {
    margin-left: 0;
  }
  .getInspired {
    margin-inline: 3rem;
  }

  .newsletterForm {
    margin-top: 0;
  }

  .newsletterBody {
    margin-right: 0;
  }
  .recipeBody {
    padding-inline: 0;
  }

  .btnContainer {
    flex-direction: column;
  }

  .registerLoginBtns {
    margin-inline: 1rem;
  }

  .about {
    margin-inline: 1rem;
  }
  .inputRegister {
    margin-bottom: 1rem;
  }
  .coverImage {
    height: 150px;
  }

  .profileImage {
    width: 140px;
    height: 140px;
    bottom: -70px;
  }

  .profileImageOverlay {
    width: 30px;
    height: 30px;
  }

  .userName {
    padding-top: 4rem;
    padding-inline: 1rem;
  }

  .passwordToggleIcon {
    margin-left: -25px;
  }

  .profileLabel {
    text-align: center;
  }

  .favTable th,
  .favTable td {
    padding: 6px;
    font-size: 0.8rem;
  }

  .favTable img {
    max-width: 50px;
    max-height: 50px;
  }

  .ratingBtn,
  .deleteBtn {
    font-size: 1rem;
  }

  .ratingBtn.me-3 {
    margin-right: 0 !important;
    margin-bottom: 0.5rem;
  }

  .cardBtnContainer {
    flex-direction: column;
  }

  .recipePic {
    width: 400px;
    height: 200px;
  }

  .categoryBadge {
    font-size: 0.7rem !important;
  }
}

/* Tablet */

@media (max-width: 768px) {
  .registerLoginBtns {
    margin-inline: 1rem;
  }

  .formData {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    width: 100%;
    height: 80px;
  }
  .coverImage {
    height: 180px;
  }

  .profileImage {
    width: 160px;
    height: 160px;
    bottom: -80px;
  }

  .profileImageOverlay {
    width: 35px;
    height: 35px;
  }

  .userName {
    padding-top: 4.5rem;
    font-size: 1.75rem;
  }

  .passwordToggleIcon {
    margin-left: -28px;
  }

  .formBtns {
    margin-inline: 0.6rem;
    padding-block: 0.6rem;
  }

  .favTable th,
  .favTable td {
    padding: 8px;
    font-size: 0.9rem;
  }

  .favTable img {
    max-width: 75px;
    max-height: 75px;
  }

  .ratingBtn,
  .deleteBtn {
    font-size: 1.2rem;
  }

  .profileImageOverlay {
    width: auto;
    padding: 0.5rem 1rem;
  }
}
